{% load static %}
{% block content %}
<header class="header">
    <div class="header-container">
        <span class="header-text">Бухта Кодера</span>
        <span class="header-nav-text">Блог начинающиего back-end разработчика</span>
    </div>
</header>

<div class="menu">
    <div class="layout-page-width">
        <div class="layout-menu">
            <div class="main-menu-content">
                <div class="main-menu-selections">
                    <div class="main-menu-content-selections">
                        <span class="menu_text">Telegram канал</span>
                        <span class="menu_text">Топ читаемых</span>
                    </div>
                </div>
            </div>
            <div class="other-menu-content">
                <a class="menu-icon-ref" href="#">
                    <img class="menu-icon" src="{% static 'main/img/icon/search.svg' %}" alt="Поиск">
                </a>
                <a class="menu-icon-ref" href="#">
                    <img class="menu-icon" src="{% static 'main/img/icon/pencil.svg' %}" alt="Создать новость">
                </a>
                <a class="menu-icon-ref" href="{% url 'login'%}">
                    <img class="menu-icon" src="{% static 'main/img/icon/person.svg' %}" alt="Аккаунт">
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}