{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/general.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/terminal.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <meta name="description" content="Главная страница">
    <title>Главная</title>
</head>

<body>
    <header>
        <nav class="desk__menu">
            <div class="warp__menu">
                <a class="page-link active" href="/">Home</a>
                <a class="page-link" href="#about-me">About</a>
                <a class="page-link" href="login">Register/Sign In</a>
            </div>
            </div>
        </nav>
    </header>

    <selection id="home" class="intro">
        <div class="container">
            <div class="terminal-window">
                <div class="terminal-header">
                    <span class="name-terminal">Console</span>
                    <div class="button green"></div>
                    <div class="button yellow"></div>
                    <div class="button red"></div>
                </div>
                <div class="terminal-input">
                    root@linux~$ I am learning CSS<br>
                    root@linux~$<span class="green-text"> Successfully!!</span> <br>
                    root@linux~$
                    <span class="typed-cursor"></span>
                </div>
            </div>

            <div class="intro__text">
                Hello World!<br>
                I'm <span class="intro__text__color">Dmitry</span>, I'm a student.
            </div>

            <a class="intro__button" href="" dest="about-1">Learn More
                <img class="intro__arrow" src="{% static 'main/img/left-direction-arrow-svgrepo-com rotated.svg %}">
            </a>

        </div>
    </selection>
    <selection id="about-me" class="about">
        <div class="container">
            <img class="error" src="static/main/img/crying-emoji-svgrepo-com.svg">
            <div class="about__text">
                <span class="intro__text__color">ERROR 404</span><br>
                Тут пока ничего нет
            </div>
        </div>
    </selection>

</body>

</html>