<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="static/main/css/general.css">
    <link rel="stylesheet" type="text/css" href="static/main/css/RegOrLogin.css">
    <meta name="description" content="Вход в аккаунт">
    <title>login</title>
</head>

<body>
    
    <header>
        <nav class="desk__menu">
            <div class="warp__menu">
                <a class="page-link" href="/">Home</a>
                <a class="page-link" href="#about-me">About</a>
                <a class="page-link active" href="login">Register/Sign In</a>
            </div>
            </div>
        </nav>
    </header>

    <selection id="home" class="intro">
        <div class="container">
            <span class="general-text">Register</span><br>
            <form method="post">
                <p><input class= "custm-input" type="email" name="Email" placeholder="email"/></p>
                <p><input class= "custm-input" type="text" name="Login" placeholder="username"/></p>
                <p><input class= "custm-input" type="password" name="Password" placeholder="password"/></p>
                <p><input type="submit" value="Register" /></p>
            </form>
        </div>
    </selection>
</body>

</html>