<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="static/main/css/general.css">
    <title>login</title>
</head>

<body>
    <header>
        <nav class="desk__menu">
            <div class="warp__menu">
                <a class="page-link" href="http://localhost:8000/">Home</a>
                <a class="page-link" href="#about-me">About</a>
                <a class="page-link active" href="login">Register/Sign In</a>
            </div>
            </div>
        </nav>
    </header>
    <selection id="home" class="intro">
        <div class="container">
            
        </div>
    </selection>
</body>

</html>