<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/main/css/main.css">
    <title>Бухта Кодера - Новости</title>
    <link rel="shortcut icon" type="image/png" href="/static/main/img/favicon.ico">
</head>

<body>
    <header class="header">
        <div class="header-container">
            <span class="header-text">Бухта Кодера</span>
            <span class="header-nav-text">Блог начинающиего back-end разработчика</span>
        </div>
    </header>

    <div class="menu">
        <div class="layout-page-width">
            <div class="layout-menu">
                <div class="main-menu-content">
                    <div class="main-menu-selections">
                        <div class="main-menu-content-selections">
                            <span class="menu_text">Telegram канал</span>
                            <span class="menu_text">Топ читаемых</span>
                        </div>

                    </div>
                </div>
                <div class="other-menu-content">
                    <a class="menu-icon-ref" href="#">
                        <img class="menu-icon" src="/static/main/img/icon/search.svg" alt="Поиск">
                    </a>
                    <a class="menu-icon-ref" href="#">
                        <img class="menu-icon" src="/static/main/img/icon/pencil.svg" alt="Создать новость">
                    </a>
                    <a class="menu-icon-ref" href="login">
                        <img class="menu-icon" src="/static/main/img/icon/person.svg" alt="Аккаунт">
                    </a>
                </div>
            </div>
        </div>
    </div>


    <div class="layout-page">
        <div class="layout-page-width">
            <div class="page">
                <div class="nav">
                    <div class="nav-header">
                        <a href="/"><span class="nav-text">Главная</span></a>
                        <a href="/news"><span class="nav-text">Новости</span></a>
                        <a href="/"><span class="nav-text">Статьи</span></a>
                    </div>
                    <!-- <div class="content">
                        <span class="date-publish">Сегодня 18:47</span>
                        <div>
                            <h1 class="name-publish">
                                <span>Название</span>
                            </h1>
                        </div>
                        <div class="tag-publish">
                            <span>Теги: </span>
                        </div>

                        <div class="inform-publish">
                            <div>
                                <img src="#" alt="Изображение">
                            </div>
                            <div>
                                <span class="anons-publish">Анонс</span>
                            </div>
                            <a class="learn-more" href="#">Читать далее</a>
                        </div>
                    </div> -->

                </div>
                <div class="sidebar-layout">
                    <div class="sidebar">
                        <div class="sidebar-header">
                            <span class="sidebar-text">Популярные теги</span>
                        </div>
                        <div class="sidebar-body">
                            #Test1<br>
                            #Test2<br>
                            #Test3<br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>