{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'header.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'main/img/favicon.ico' %}">
    <title>Бухта Кодера - Новости</title>
</head>

<body>
    {% include 'main/header.html' %}

    <div class="layout-page">
        <div class="layout-page-width">
            <div class="page">
                <div class="nav">
                    <div class="nav-header">
                        <a href="/"><span class="nav-text">Главная</span></a>
                        <a href="/news"><span class="nav-text">Новости</span></a>
                        <a href="/"><span class="nav-text">Статьи</span></a>
                    </div>
                    <!-- <div class="content">
                        <span class="date-publish">Сегодня 18:47</span>
                        <div>
                            <h1 class="name-publish">
                                <span>Название</span>
                            </h1>
                        </div>
                        <div class="tag-publish">
                            <span>Теги: </span>
                        </div>

                        <div class="inform-publish">
                            <div>
                                <img src="#" alt="Изображение">
                            </div>
                            <div>
                                <span class="anons-publish">Анонс</span>
                            </div>
                            <a class="learn-more" href="#">Читать далее</a>
                        </div>
                    </div> -->

                </div>
                <div class="sidebar-layout">
                    <div class="sidebar">
                        <div class="sidebar-header">
                            <span class="sidebar-text">Популярные теги</span>
                        </div>
                        <div class="sidebar-body">
                            #Test1<br>
                            #Test2<br>
                            #Test3<br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>