<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/main/css/main.css">
    <title>Бухта Кодера - Главная</title>
    <link rel="shortcut icon" type="image/png" href="static/main/img/favicon.ico" />
</head>

<body>
    <header class="header">
        <div class="header-container">
            <span class="header-text">Бухта Кодера</span>
            <span class="header-nav-text">Блог начинающиего back-end разработчика</span>
        </div>
    </header>

    <div class="page">
        <div class="nav">
            <div class="nav-header">
                <span class="nav-text">Главная</span>
                <span class="nav-text">Новости</span>
                <span class="nav-text">Статьи</span>
            </div>
            <div class="content">
                <span class="date-publish">Сегодня 18:47</span>
                <div>
                    <h1 class="name-publish">
                        <span>Название темы</span>
                    </h1>
                </div>
                <div class="tag-publish">
                    <span>Теги: </span>
                </div>

                <div class="inform-publish">
                    <div>
                        <img src="#" alt=" ">
                    </div>
                    <div>
                        <span class="anons-publish">Кстати, с последним обвинением я даже отчасти готов согласиться.
                            Возможно, я действительно плохо подхожу
                            конкретно для промышленной разработки. Но, с другой стороны, а много ли было у меня шансов
                            проявить себя
                            именно в этом? Ведь я описал лишь один пример неудавшегося трудоустройства, а были и другие.
                            Главным
                            образом я не согласен конкретно с тем, что претендуя на конкретную должность, ты должен уже
                            досконально
                            разбираться во всём, чем там занимаются. Твой личный опыт при этом находится на каком-то
                            двадцатом месте
                            в качестве возможных критериев отбора. Да, пусть он не совсем по профилю, но ведь что-то ты
                            уже умеешь?
                            Ты в некотором роде обучаем – в широком смысле слова, а не на уровне зубрения названий
                            каких-то
                            конкретных техник разработки, фреймворков и их составляющих, с которыми ты лично, возможно,
                            просто ранее
                            не сталкивался, но совсем не прочь разобраться – в том случае, если тебе действительно
                            предложат работу.
                            Да даже целый новый язык вполне можно освоить, если на то есть серьёзные причины. А не так,
                            чтобы:
                            "Посижу-ка я дома, освою Питон по роликам на ютубе, авось меня возьмут". У претендента на
                            должность
                            (напомню, базовую) может быть совершенно иной бэкграунд – и это отнюдь не означает того, что
                            он обязан
                            теперь до конца своей жизни продолжать заниматься тем же самым.</span>
                    </div>
                    <a class="learn-more" href="#">Читать далее</a>
                </div>
            </div>
        </div>
        <div class="sidebar-layout">
            <div class="sidebar">
                <div class="sidebar-header">
                    <span class="sidebar-text">Популярные теги</span>
                </div>
                <div class="sidebar-body">
                    #Test1<br>
                    #Test2<br>
                    #Test3<br>
                </div>
            </div>
        </div>

    </div>

</body>

</html>