body {
    margin: 0;
}

/* Container */
.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/*Intro*/
.intro{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #252934;

    width: 100%;
    height: 100vh;

    margin: 0 auto;
    -webkit-background-size: cover;
    background-size: cover;
    text-align: center;
}

.intro__text{
    font-family: Raleway-Bold;
    font-size: 42px;
    color: white;
    text-align: center;
}

.intro__text__color{
    color: #e31b6d;
}

.intro__arrow{
    filter: invert(100%);
    width: 12px;
    height: 12px;
    vertical-align: middle;
    margin-bottom: 2px;
    margin-left: 5px;
    
    transform: rotate(0deg);
    transition: transform .2s linear;
}

/* Desk */
nav{
    top: 0;
    left: 0;
    position: fixed;
    background: #1b242f;
    /* border-bottom: 3px solid #04c2c9; */
    height: 50px;
    text-align: left;
    width: 100%;
    z-index: 1000;
    cursor: pointer;
}

.warp{
    text-decoration: none;
}

.warp__menu{
    display:inline-flex;  
}

.page-link{
    padding-top: 15px;
    padding-left: 30px;
    font-family: Raleway-Bold;
    color: white;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
}


.active, .page-link:hover{
    color: #e31b6d;
    transition: color .2s linear;
}

/*Button */
.intro__button{
    display: inline-block;
    vertical-align: top;
    padding: 10px 30px;
    border: 2px solid white;
    margin-top: 15px;

    color: white;
    text-decoration: none;
    font-family: Raleway-Bold;
    font-size: 16px;
}

.intro__button:hover{
    color: #e31b6d;
    transition: color .2s linear;
}

.intro__button:hover .intro__arrow{
    transform: rotate(90deg);
    transition: transform .2s linear;
}

/* About */
.about{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: white;

    width: 100%;
    height: 100vh;

    margin: 0 auto;
    -webkit-background-size: cover;
    background-size: cover;
    text-align: center;
}

.error{
    width: 200px;
    height: 200px;
}

.about__text{
    font-family: Raleway-Bold;
    font-size: 42px;
    color: black;
    text-align: center;
}

/*Font*/
@font-face {
    font-family: Raleway-Bold;
    src: url("../fonts/Raleway-Bold.ttf");
}