body {
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

/* header */
.header {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  height: 48px;
  margin: 0 auto;
  background-color: #303b44;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-text {
  border-left: 1px solid;
  margin-left: 8px;
  margin-right: 10px;
  padding-left: 4px;
  font-family: Raleway-Bold;
  font-size: 20px;
  color: white;
  cursor: pointer;
}

.header-nav-text {
  margin: 10px;
  font-family: Raleway-Bold;
  font-size: 15px;
  color: white;
  cursor: default;
}
/* nav */
.page {
  display: flex;
  max-width: 1096px;
}

.nav {
  width: 100%;
}

.nav-header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  margin: 10px 15px 0px 15px;
  background-color: white;
  box-shadow: inset 0 -1px 0 0 #d5dddf;
}

.sidebar-layout {
  flex: 0;
}
.sidebar {
  width: 300px;
  margin: 10px 15px 0px 0px;
  flex: 1;
}

.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  background-color: white;
  box-shadow: inset 0 -1px 0 0 #d5dddf;
}

.sidebar-body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  box-shadow: inset 0 -1px 0 0 #d5dddf;
}

.sidebar-text {
  font-family: Raleway-Bold;
  font-size: 15px;
  color: #6f7577;
}

@media (max-width: 720px) {
  .sidebar {
    display: none;
  }
}

.nav-text {
  padding: 15px;
  font-family: Raleway-Bold;
  font-size: 18px;
  color: #6f7577;
  cursor: pointer;
}
.nav-text:hover {
  text-decoration: underline;
}
/* content */
.content {
  flex: 0;
  background-color: white;
  margin: 10px 15px 0px 15px;
  overflow-wrap: break-word;
  padding: 10px;
}
.learn-more {
  background-color: initial;
  border: 1px solid #6f7577;
  border-radius: 3px;
  color: #6f7577;
  cursor: pointer;
  display: inline-block;
  font-size: 0.8125rem;
  height: 36px;
  line-height: 2.25rem;
  margin-top: 18px;
  padding: 0 13px;
  text-decoration: none;
}

.name-publish {
  font-family: Fira Sans, sans-serif;
  font-size: 1.5rem;
  margin: 10px 0px 5px 0px;
}

.anons-publish {
  font-family: Fira Sans, sans-serif;
  margin-top: 5px;
}

.tag-publish {
  color: #777;
  margin-bottom: 5px;
}

.date-publish {
  color: #777;
}

/* adatptive */
@media (max-width: 513px) {
  .header-nav-text {
    display: none;
  }
}

/*Font*/
@font-face {
  font-family: Raleway-Bold;
  src: url("../fonts/Raleway-Bold.ttf");
  font-display: swap;
}
