.general-text{
    font-family: Raleway-Bold;
    font-size: 42px;
    color: white;
    text-align: center;
}

.custm-input{
    border: 1px solid #252934 ;
    border-radius: 3px;
    margin-top: 2px;
    margin-bottom: 2px;
    width: 300px;
    height: 30px;
    padding: 3px;
    font-size: 14px;
    font-family: Raleway-Bold;
}

input[type="submit"]{
    width: 100px;
    height: 30px;
    font-size: 13px;
    font-family: Raleway-Bold;
}

/*Font*/
@font-face {
    font-family: Raleway-Bold;
    src: url("../fonts/Raleway-Bold.ttf");
    font-display: swap;
}