{% load static %}

<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'news/css/news.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'header.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'main/img/favicon.ico' %}">
    <title>Бухта Кодера - Новости</title>
</head>

<body>
    {% include 'main/header.html' %}

    <div class="layout-page">
        <div class="layout-page-width">
            <div class="page">
                <div class="nav">
                    <div class="nav-header">
                        <a href="/"><span class="nav-text">Главная</span></a>
                        <a href="/news"><span class="nav-text">Новости</span></a>
                        <a href="/"><span class="nav-text">Статьи</span></a>
                    </div>
                    {% for el in page.object_list %}
                    <div class="content">

                        <span class="date-publish">Сегодня 18:47</span>
                        <div>
                            <h1 class="name-publish">
                                <span class="text-news">{{el.title }}</span>
                            </h1>
                        </div>
                        <div class="tag-publish">
                            <span>Теги: </span>
                        </div>

                        <div class="inform-publish">
                            <div>
                                <img src="#" alt="">
                            </div>
                            <div>
                                <span class="anons-publish">{{el.anons }}</span>
                            </div>
                            <a class="learn-more" href="{% url 'news-detail'  el.id %}">Читать далее</a>
                        </div>
                    </div>
                    {% endfor%}
                    <div class="paginator">
                        {% if page.has_previous %}
                        <a class="paginator_ref" href="?page={{ page.previous_page_number }}">
                            <span class="paginator-text">Предыдущая</span>
                        </a>
                        {% endif %}

                        <div class="paginator_pages">

                        </div>
                        {% if page.has_next %}
                        <a class="paginator_ref" href="{% url 'news' %}?page={{ page.next_page_number }}">
                            <span class="paginator-text">Следующая</span>
                        </a>
                        {% endif %}
                    </div>
                </div>
                <div class="sidebar-layout">
                    <div class="sidebar">
                        <div class="sidebar-header">
                            <span class="sidebar-text">Популярные теги</span>
                        </div>
                        <div class="sidebar-body">
                            #Test1<br>
                            #Test2<br>
                            #Test3<br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>