<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="/static/main/img/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/static/account/css/register.css">
    <title>Бухта Кодера - Подтверждение почты</title>
</head>

<body>
    <div class="layout">
        <div class="layout-header">
            <div class="layout-header-inner">
                <span class="header_text">Бухта Кодера Аккаунт</span>
            </div>
        </div>
        <div class="layout_register">
            <div class="layout_register_inner">
                <div class="form_register">
                    <span class="register_text">Подтверждение почты</span>
                    <form method="post">
                        {% csrf_token %}
                        <div class="form_margin">
                            <label for="code_field" class="form_field_label">Код отправлен на Вашу почту:
                                te*************.ru</label>
                        </div>
                        <div class="form_field">
                            <label for="code_field" class="form_field_label">Code</label>
                            {{ form.code}}
                        </div>
                        <div class="form_margin">
                            <label for="code_field" class="form_field_label">Не пришло сообщение?
                                <span class="text_login">Отправить код ещё раз</span>

                            </label>

                        </div>
                        <div class="form_margin">
                            <button class="button_register">
                                Подтвердить почту
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>