<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="/static/main/img/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/static/account/css/register.css">
    <title>Бухта Кодера - Регистрация</title>
</head>

<body>
    <div class="layout">
        <div class="layout-header">
            <div class="layout-header-inner">
                <span class="header_text">Бухта Кодера Аккаунт</span>
            </div>
        </div>
        <div class="layout_register">
            <div class="layout_register_inner">
                <div class="form_register">
                    <span class="register_text">Регистрация</span>
                    <form action="#" method="post">
                        {% csrf_token %}
                        <div class="form_field">
                            <label for="email_field" class="form_field_label">E-mail</label>
                            <input type="email" name="email" class="form_input" required>
                        </div>

                        <div class="form_field">
                            <label for="login_field" class="form_field_label">Логин</label>
                            <input type="login" name="login" class="form_input" required>
                        </div>

                        <div class="form_field">
                            <label for="password_field" class="form_field_label">Пароль</label>
                            <input type="password" name="password" class="form_input" required>
                        </div>

                        <div class="form_field">
                            <label for="password_repeat_field" class="form_field_label">Пароль ещё раз</label>
                            <input type="password" name="password_repeat" class="form_input" required>
                        </div>
                        <div class="form_button">
                            <button class="button_register">
                                Зарегистрироваться
                            </button>
                        </div>
                    </form>
                </div>

                <div class="layout_register_inner form_register login">
                    Уже зарегистрированы?
                    <a href="login"><span class="text_login">Войдите</span></a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>