{% load static %}

<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="{% static 'main/img/favicon.ico' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'account/css/account.css' %}">
    <title>Бухта Кодера - Вход</title>
</head>

<body>
    <div class="layout">
        <div class="layout-header">
            <div class="layout-header-inner">
                <span class="header_text">Бухта Кодера Аккаунт</span>
            </div>
        </div>
        <div class="layout_register">
            <div class="layout_register_inner">
                <div class="form_register">
                    <span class="register_text">Вход</span>
                    <form method="post">
                        {% csrf_token %}
                        <div class="form_field">
                            <label for="login_field" class="form_field_label">Логин</label>
                            {{form.username}}
                            <!-- <input type="login" name="login" class="form_input"> -->
                        </div>

                        <div class="form_field">
                            <label for="password_field" class="form_field_label">Пароль</label>
                            {{form.password}}
                            <!-- <input type="password" name="password" class="form_input"> -->
                        </div>
                        {% if error_text %}
                        <div class="form_margin">
                            <span class="form_field_label">{{ error_text }}</span>
                        </div>
                        {% endif %}
                        <div class="form_margin">
                            <button class="button_register">
                                Войти
                            </button>
                        </div>
                    </form>

                    <div class="reminder_label">
                        <a href="reminder"><span class="text_login wrap">Забыли пароль?</span></a>
                    </div>
                </div>

                <div class="layout_register_inner form_register login">
                    Не зарегистрированы?
                    <a href="register"><span class="text_login">Зарегистрируйтесь</span></a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>