{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="{% static 'main/img/favicon.ico' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'account/css/profile.css' %}">
    <title>Бухта кодера - Аккаунт</title>
</head>

<body>
    <div class="layout">
        <div class="layout-header">
            <div class="layout-header-inner">
                <span class="header_text">Бухта Кодера Аккаунт</span>
                <div class="user_info">
                    <span class="user">@{{username}}</span>
                    <a href="{% url 'logout' %}">
                        <span class="button_exit">Выход</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="layout_setting">
            <div class="layout_wrap ">
                <div class="layout_container">

                    <div class="layout_top">
                        <div class="layout_top_info">
                            <h1 class="layout_top_text">Настройки</h1>
                        </div>
                        <div class="layout_top_tabs">
                            <span class="top_tabs">Профиль</span>
                            <span class="top_tabs">Безопасность</span>
                        </div>
                    </div>

                    <div class="user_setting_form">
                        <div class="user_setting">
                            <form method="POST">
                                {% csrf_token %}
                                <div class="avatar_form">
                                    <div class="base_input base_label">
                                        <span>Аватар</span>
                                    </div>
                                    <div>
                                        <img class="img_avatar" src="{% static 'account/img/default_avatar.png' %}">
                                    </div>
                                    <div>
                                        <p class="base_description ">
                                            Формат: jpg, gif, png.<br>
                                            Максимальный размер файла: 1Mb.<br>
                                            Разрешение: до 96x96px.<br>
                                        </p>
                                    </div>
                                    <div>
                                        <label class="button">
                                            <input type="file" accept="image/*">
                                            <span>Загрузить</span>
                                        </label>
                                    </div>
                                </div>

                                <div>
                                    <div class="base_input base_label">
                                        <span>Настоящее имя</span>
                                        <div>
                                            <input class="base_input base-input__input" type="text">
                                        </div>
                                        <p class="base_description ">
                                            Укажите ваши имя и фамилию, чтобы другие пользователи смогли узнать, как вас
                                            зовут
                                        </p>
                                    </div>
                                </div>
                                <div>
                                    <div class="base_input base_label">
                                        <span>Пол</span>
                                        <div>
                                            <select class="base_input base-input__input">
                                                <option value="0">Другое</option>
                                                <option value="1">Мужской</option>
                                                <option value="2">Женский</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div>
                                    <div class="base_input base_label">
                                        <span>Дата рождения</span>
                                        <div>
                                            <select class="base_input base-input__input">
                                                <option value="0"></option>
                                                <option value="1">1</option>
                                            </select>
                                            <select class="base_input base-input__input">
                                                <option value="0"></option>
                                                <option value="1">1</option>
                                            </select>
                                            <select class="base_input base-input__input">
                                                <option value="0"></option>
                                                <option value="1">2020</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div>
                                    <div class="base_input base_label">
                                        <span>Расскажите о себе</span>
                                        <div>
                                            <textarea class="base_input base-input__input"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>