{% load static %}

<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="{% static 'main/img/favicon.ico' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'account/css/profile.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'account/css/general_profile.css' %}" />
    <title>Бухта кодера - Безопасность</title>
</head>

<body>
    <div class="layout">
        {% include 'account/header_profile.html' %}

        <div class="layout_setting">
            <div class="layout_wrap">
                <div class="layout_container">
                    <div class="layout_top">
                        <div class="layout_top_info">
                            <h1 class="layout_top_text">Настройки</h1>
                        </div>
                        <div class="layout_top_tabs">
                            <a href="{% url 'profile'%}">
                                <span class="top_tabs">Профиль</span>
                            </a>
                            <a href="{% url 'security'%}">
                                <span class="top_tabs">Безопасность</span>
                            </a>
                        </div>
                    </div>

                    <div class="user_setting_form">
                        <div class="user_setting">
                            <form method="POST">
                                {% csrf_token %}
                                <div>
                                    <div class="base_input base_label">
                                        <span>Смена пароля</span>
                                        <!-- <div>
                                            {{form.old_password}}
                                            <span class="base_description">Старый пароль</span>
                                        </div> -->
                                        <div>
                                            {{form.new_password1}}
                                            <span class="base_description">Новый пароль</span>
                                        </div>
                                        <div>
                                            {{form.new_password2}}
                                            <span class="base_description">Повторите пароль</span>
                                        </div>
                                    </div>
                                    <div>
                                        <label class="button">
                                            <input type="submit" />
                                            <span>Сохранить</span>
                                        </label>
                                    </div>
                                </div>
                            </form>
                            {% if output_text %}
                            <span>{{ output_text }}</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>